@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
.logo
{
  color:white ;
  z-index: 1;
 }

header
{
 position: absolute;
 top: 0;
 left: 0;
 width: 97.4%;
 padding: 5px 25px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: transparent;
 height: 8vh;
 z-index: 0;
}

/* Estilo da navegação */
nav {
    margin-top: 10px;
}

nav ul
{
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Poppins', sans-serif;
}
nav ul
{
  list-style: none;
  position: absolute;
  margin-left: -350px;
  transform: translateY(-30px);
}
nav ul li a
{
  text-decoration: none;
  padding: 5px 15px;
  color: rgb(255, 255, 255)
}
nav ul li a:hover,
nav ul li a.active
{
  background: transparent;
  color: rgb(231, 231, 231);
}

section {
    text-align: center;
    margin: 20px;
    transform: translateY(225px);
}

/* Estilo dos títulos */
h2 {
    color: #ffffff;
}

/* Estilo dos parágrafos */
p {
    line-height: 1.6;
    color: #ffffff;
}

.content {
  text-align: center;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  border: 2px solid #ffffff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  transform: translateY(70px);
  transition: 0.25s;
}

.content a:hover {
  color: white;
  border-color: white;
  background: transparent;
}

#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transform: translate(0px, 849.9px);
}
